@model ReviewSite.Models.Review
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
@{
    ViewBag.Title = "Details";
}
<div class="jumbohome">
    <h2>Details</h2>

    <div>
        <h4>Review</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublishDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @{
                    int i = 0;
                    while (i < Model.Rating)
                    {
                        <i class="fas fa-star"></i>
                        i++;
                    }
                    while (i < 5)
                    {
                        <i class="far fa-star"></i>
                        i++;
                    }

                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WouldReccomend)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WouldReccomend)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>